header {
  background-color: var(--color-secondary);
  color: var(--color-white);
  text-align: center;
  padding: 1.4rem 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, .45);
  text-transform: uppercase;
  box-shadow: 0 0 4px rgba(0, 0, 0, .75);
}

main {
  padding: 2rem 1.6rem;
}
