:root {
  --color-main: rgba(200, 39, 97, .75);
  --color-secondary: #274AC8;
  --color-text: #000;
  --color-text-light: #333;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: monospace;
}
